:root {
  --theme-background: #f5f5f7;
  /*--theme-brand: #5c58bb;*/
  --theme-brand: #f3ba2f;
  --theme-green: #8cb531;
  --theme-nav-background: #ffffff;
  --theme-nav-item-background: #f5f5f7;
  --theme-wordbox-background: #ffffff;
  --theme-font: #555555;
  --theme-link: var(--theme-brand);
  --w-menu: 330px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(6px + 1.1vmin);
  color: var(--theme-font);
}

code {
  font-family: 'Lato';
}

@media (min-width: 2200px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 26px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 26px;
  font-size: calc(6px + 1.1vmin);
  margin-top: 10px;
  margin-bottom: 15px;
}

h1 {
  font-size: calc(48px + 5vmin);
  margin-bottom: 30px;
  margin-top: 40px;
}

h1.span {
  display: block;
  font-size: calc(28px + 2vmin);
}

h1.title {
  color: var(--theme-green);
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: calc(14px + 1.2vmin);
  margin-bottom: 5px;
}

h2.title {
  font-size: calc(22px + 2vmin);
  padding-top: 20px;
  padding-bottom: 100px;
}

h2.subtitle {
  font-size: calc(22px + 3vmin);
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

h3 {
  font-size: calc(6px + 1.2vmin);
  margin-bottom: 5px;
}

p.intro-text,
ol li.intro-text {
  font-size: calc(14px + 1.2vmin);
  line-height: 34px;
}

@media (max-width: 768px) {
  p.intro-text,
  ol li.intro-text {
    font-size: calc(12px + 1.2vmin);
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  h2,
  h3,
  h4,
  h5,
  h6,
  body,
  ul,
  li,
  p {
    font-size: calc(12px + 1.2vmin);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: calc(42px + 4vmin);
    margin-bottom: 10px;
    margin-top: 20px;
  }
  h2.title {
    font-size: calc(18px + 2vmin);
    padding-top: 5px;
    padding-bottom: 15px;
  }
  h2.subtitle {
    font-size: calc(22px + 2vmin);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
}

p.disclaimer {
  font-size: calc(4px + 1vmin);
}

@media (max-width: 768px) {
  p.disclaimer {
    font-size: calc(8px + 1.1vmin);
  }
}

p.disclaimer a {
  color: var(--theme-font);
}

p.disclaimer a:hover {
  color: var(--theme-link);
}

a {
  color: var(--theme-link);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.button-link {
  color: var(--theme-link);
  background-color: transparent;
  border: none;
  margin-top: 10px;
}

.button-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  background-color: var(--theme-brand);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 18px;
}

.button:hover {
  transition-duration: 0.1s;
  filter: brightness(90%);
}

.button-inverse {
  color: var(--theme-brand);
  background-color: #000000;
}

.button-inverse:hover {
  filter: brightness(60%);
}

.button-sm {
  background-color: var(--theme-brand);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 44px;
  text-decoration: none;
}

.button-sm:hover {
  transition-duration: 0.1s;
  filter: brightness(90%);
  text-decoration: none;
}

.button-outline {
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 42px;
}

.button-outline:hover {
  transition-duration: 0.1s;
  filter: brightness(90%);
  background-color: var(--theme-brand);
  text-decoration: none;
}

.button-icon:hover {
  background-color: var(--theme-brand);
}

.button-icon,
.button-icon:active,
.button-icon:visited {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.button-icon svg {
  color: var(--theme-brand);
  z-index: 1;
}

.button-icon:hover svg {
  color: #ffffff;
}

.social-icon svg {
  color: #000000;
}

.social-icon:hover svg {
  color: var(--theme-brand);
}

@media (min-width: 768px) {
  .button {
    padding: 0 2.6rem;
  }
}
